

.form{
    @include absolute-center;
    width: 100%;
    max-width: 400px;
    padding: 20px;

    .logo{
        width: 100%;
        max-width: 320px;
        margin: 0px auto 20px;
    }


    input{
        margin-top: 3px;
        margin-bottom: 20px;
    }

    .button{
        display: block;
        margin: 0 auto;
    }
}

#cliente-form{
    padding: 80px 0px;
    input{
        margin-top: 3px;
        margin-bottom: 20px;
    }
}