.primary-menu{
    li{
        @include inline-block;
        padding: 0px 5px;
    }
    
    .icon{
        width: 25px;
        height: 25px;
        display: block;
        position: relative;
        .total{
            position: absolute;
            background-color: $secondary-color;
            border-radius: 100px;
            color: $white;
            font-size: 10px;
            line-height: 10px;
            padding: 3px 5px;
            top: -5px;
            right: -5px;

            &.hidden{
                display: none;
            }
        }
    }
}