//VARIABLES

$OpenSans: 'Open Sans', Arial, Helvetica, Sans-serif;

$default-browser-font-size: 16px !global;

$primary-color: #1F2463;
$secondary-color: #D38035;
$black:#000000;
$grey: #7f7f7f;
$white: #FFFFFF;

$selects-grey: #dfdfdf;

$img-path: '../img/';
$large-wrap: 1170px;

$breakpoints: (
  xsmall: 0px,
  small: 320px,
  medium: 768px,
  large: 1024px,
  xlarge: 1400px
);

$wrapper-size: 1100px;
