*{
    box-sizing: border-box;
}
body{
    font-size: $default-browser-font-size;
    font-family: $muli;
}

.p6-wrap{
    max-width: 1360px;
    padding: 0px 20px;
    margin: 0 auto;
}

main{
    display: block;
    min-height: calc(100vh - 90px);
}

.w-content{
    margin: 0 auto;
    max-width: 1240px;
    padding: 30px;
}

.w100{
    width: 100%;
}

.tcenter{
    text-align: center;
}

.success{
    color: darkcyan;
}